{% extends "../base.html" %}
{% block headline %} Прайсы {% end %}
{% block head %}

{% end %}
{% block body %}
<div class="container">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="pr-4 pl-2">
                <h3>Сделки</h3>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.uri == "/transactions/" %} active {% end %}" href="/transactions/">
                Активные 
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.uri == "/transactions/completed/" %} active {% end %}" href="/transactions/completed/">
                    Завершенные
                </a>
            </li>
        </ul>
    </div>
    <div class="bg-white pl-1 pr-1 pt-4 pl-lg-4 pr-lg-4 pb-3 border-left border-right border-bottom">
        {% block content %}
        {% end %}
    </div>
</div>
{% end %}