{% extends "base.html" %}
{% block headline %} Продукты {% end %}
{% block head %}

{% end %}
{% block content %}
<a class="btn btn-danger" href="/products/find-dublicates/">Найти дубликаты</a>
<a class="btn btn-primary" href="/products/filtering/">Фильтры</a>
<hr>
<table id="example" class="table table-striped table-bordered tasks-table" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Товар</th>
            <th>Производитель</th>
            <th>Кол-во товара</th>
            <th>Файл</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
    </tbody>Синонимы товаров
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Товар</th>
            <th>Производитель</th>
            <th>Кол-во товара</th>
            <th>Файл</th>
            <th>Дата</th>
        </tr>
    </tfoot>
</table>
{% end %}

{% block bottom %}
<script>
    $(document).ready(function() {
        $('#example').DataTable({
        oLanguage: {
          "sUrl": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
        },
        responsive: true,
        serverSide: true,
        createdRow: function( row, data, dataIndex ) {
            var d = data[0];
            $(row).attr('data-id', d);
        },
        ajax: '/products/data.json',
        "columnDefs": [
            {"render": function ( data, type, row ) {
                var d = moment(data, 'hh:mm DD.MM.YYYY').toDate();
                if (areSameDate(d, new Date())) {
                    return moment(d).format('hh:mm');
                } else {
                    var now = moment(new Date());
                    var end = d; 
                    var duration = moment.duration(now.diff(end));
                    var days = duration.asDays();
                    if (days < 2) {
                        return moment(d).calendar();
                    }
                }
                return data; 
            },"targets": 5}
        ]});
    } );
    $('#example tbody').on( 'click', 'tr', function () {
        var key = $(this).attr('data-id');
        document.location = "//" + window.location.host + "/products/" + key + "/view/";
    } );

    function areSameDate(d1, d2) {
    return d1.getFullYear() == d2.getFullYear()
        && d1.getMonth() == d2.getMonth()
        && d1.getDate() == d2.getDate();
}
</script>
{% end %}