{% extends "../base.html" %}
{% block header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

{% end %}
{% block body %}
<input id="fileinp" name="excel" type="file"/>
{% end %}

{% block bottom %}
<script src="{{ static_url("js/fileinput.min.js") }}"></script>
<script>
$(document).ready(function(){

$("#fileinp").fileinput(
    {
         uploadUrl: "/agents/{{ agent["agent_id"] }}/upload/",
        enableResumableUpload: true,
        initialPreviewAsData: false,
        
    
}).on('fileuploaded', function(event, previewId, index, fileId) {
    alert("успешно");
});
});
</script>
{% end %}